<!DOCTYPE html>
<html lang="en">

<head>
    {% block head%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename ='fav.ico')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename ='app.css')}}">
    <title>product scanner</title>
    {% endblock%}
</head>

<body>
    <div class="navbar-body">
        <div>
            <h1>
                ProdScanner
            </h1>
        </div>
        <div class="links">
            <a href="{{url_for('main.index')}}">Account</a>
            <a href="{{url_for('main.profile')}}">Profile</a>
            <a href="{{url_for('auth.signup')}}">Signup</a>
            <a href="{{url_for('auth.login')}}">Login</a>
        </div>
        <div class="scan">
            <form action="/open-camera" method="post">
                <button type="submit">Scan Product</button>
            </form>
        </div>
    </div>
    <!-- <script>
        document.getElementById('scan-button').addEventListener('click', startCamera);

        function startCamera() {
            console.log('here we are')
            fetch('/open_camera', {
                method: 'POST'
            });
        }
    </script> -->
    {% block content %} {% endblock%}
</body>

</html>